Package: aptss
Version: 4.3.0-fix5
Architecture: all
Maintainer: shenmo <shenmo@spark-app.store>
Installed-Size: 1187
Depends: wget,aria2
Section: utils
Priority: optional
Provides: spark-store(=4.3.0-fix5),spark-store-console(=4.3.0-fix5),spark-store-console-in-container(=4.3.0-fix5)
Conflicts: spark-store,spark-store-console,spark-store-console-in-container
Replaces: spark-store(=4.3.0-fix5),spark-store-console(=4.3.0-fix5),spark-store-console-in-container(=4.3.0-fix5)
Homepage: https://www.spark-app.store/
Description:  aptss
