Package: aptss
Version: 4.3.0-fix5
Architecture: all
Maintainer: shenmo<shenmo@spark-app.store>
Installed-Size: 120
Depends: wget, aria2
Conflicts: spark-store, spark-store-console
Provides: spark-store, spark-store-console
Section: utils
Priority: optional
Multi-Arch: foreign
Homepage: https://gitee.com/GXDE-OS/aptss/
Description: aptss
